<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "FunctionServerBasedOnArweave", suffix: " · Phoenix Framework" %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/highlight.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <section class="container">
        <nav>
          <ul>
            <li><a href="https://github.com/WeLightProject/function_server_based_on_arweave">Github Repo</a></li>
            <li>v0.1.0</li>
          </ul>
        </nav>
        <h1>TaiShang FaaS System</h1>
      </section>
    </header>
    <div id="the_nav" style="width:60%;margin: 0 auto;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="/">Code Loader</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/add_func">Add new Funtion by Tx id</a>
            </li>
            <!--<li class="nav-item">
              <a class="nav-link active" href="/live/to_chain">资源上链</a>
               <a class="nav-link active" href="https://welightproject.github.io/Tai-Shang-Voxel-Handler/">Resources to Chain</a>
            </li>-->
          </ul>
        </div>
      </div>
    </nav>
    </div>
    <%= @inner_content %>
  </body>
</html>
